TZ=Europe/Tallinn

# Andmebaas
POSTGRES_USER=admin
POSTGRES_PASSWORD=sqlparool
POSTGRES_DB=ecdc-haigusseire
POSTGRES_PORT_HOST=5432

# Superseti veebiliides
SUPERSET_SECRET_KEY=ecdc_haigusseire_secret_key_2026
SUPERSET_ADMIN_USER=admin
SUPERSET_ADMIN_PASSWORD=supersetparool
SUPERSET_ADMIN_EMAIL=admin@example.com
SUPERSET_PORT_HOST=8088
